body{
    background-color: rgb(39, 41, 41);
}
h1 {
    /*Header one style*/
    color: brown;
}

.RedText {
    color: red;
}

.BlueText {
    color: blue;
}

.GreenText {
    color: darkgreen;
}

.BigBox {

    margin-left: 1%;
    padding: 1%;
    background-color: antiquewhite;
    width: 40%;
    height: fit-content;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.RedBox {

    margin-top: 10px;
    background-image: url(images/photo.jpg);
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 15%;
    text-align: center;
    border: 15px inset;
    border-color: solid red;
    border-radius: 3px;


}

.BlueBox {


    margin-top: 10px;

    background-color: rgb(60, 124, 196);
    width: 90%;
    height: 15%;
    text-align: center;
    border: 15px double;
    border-color: rgb(218, 247, 92);
    border-radius: 3px;

}

.GreenBox {

    margin-top: 10px;
    background-color: darkgreen;
    width: 90%;
    height: 15%;
    text-align: center;

    border: 15px inset;

    border-color: rgb(235, 140, 16);
    border-radius: 3px;

}

.Round {
    margin-top: 10px;

    background-color: darkgreen;
    width: 90%;
    height: 15%;
    text-align: center;

    border: 15px inset;

    border-color: rgb(235, 140, 16);
    border-radius: 50%;

}

#myButton {
    font-size: 30px;
    color: rgb(0, 255, 255);
}

#myButton:link {
    font-size: 30px;
    color: rgb(243, 247, 15);
}

#myButton:hover {
    color: chartreuse;
    font-size: 35px;
}

#myButton:active {
    color: blueviolet;
    font-size: 45px;
}

.myList {
    list-style-type: lower-latin;
}

.myTable,
td,
tr {
    border: 2px solid rgb(42, 195, 241);
    border-collapse: collapse;
    color: black;
    text-align: left;
}

th {
    border: 5px solid blue;
    border-collapse: collapse;
    background-color: aquamarine;
}
.myTable tr:nth-child(even){
    background-color: rgb(43, 224, 52);
}.myTable tr:nth-child(odd){
    background-color: rgb(240, 74, 157);
}
.myTable tr:hover{
    background-color: aliceblue;
    border:inset 5px grey;
    border-radius: 5px;
}
.navBar{
    background-color: rgb(87, 85, 85);
    width: 100%;
    padding: 5px;
    box-shadow: 0px 0px 20px 0px blue;

}
.navElements{
  display: inline-block;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  background-color: rgb(31, 31, 54);
  border: 2px solid rgba(255, 0, 0, 0.432);
  border-radius: 5px;
  color: beige;
}
.navElements:hover{
    background-color: aqua;
    transition: 0.5s;
}
.navElements a{text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px blue;
    font-weight: bold;

}
.newsContent{
    position: absolute;
    
    display: inline-block;
    z-index: 1;
    
}
.newsContent ul{
    list-style-type: none;
 
}