h1{/*Header one style*/
    color: brown;
}
.RedText{
    color: red;
}
.BlueText{
    color:blue;
}
.GreenText{
color: darkgreen;
}
.BigBox{
   
    margin-left: 1%;
    padding: 1%;
    background-color: antiquewhite;
    width: 40%;
    height: fit-content;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
  
}
.RedBox{
  
    margin-top: 10px;
    background-image: url(images/photo.jpg);
    background-position: center;
    background-size:cover;   
    width: 90%;
    height: 15%;
    text-align: center;
    border: 15px inset;
    border-color:  solid red;
    border-radius: 3px;
   
   
}
.BlueBox{
  
    
    margin-top: 10px;

    background-color: rgb(60, 124, 196);
    width: 90%;
    height: 15%;
    text-align: center;
    border:15px double;
    border-color:  rgb(218, 247, 92);
    border-radius: 3px;
  
}
.GreenBox{
   
    margin-top: 10px;
    background-color: darkgreen;
    width: 90%;
    height: 15%;
    text-align: center;
    
    border: 15px inset;
    
    border-color: rgb(235, 140, 16);
    border-radius: 3px;
   
}
.Round{
    margin-top: 10px;
    
    background-color: darkgreen;
    width: 90%;
    height: 15%;
    text-align: center;
    
    border: 15px inset;
    
    border-color: rgb(235, 140, 16);
    border-radius: 50%;

}
div :nth-child(1){
    color: azure;
}
#myButton{
    font-size: 30px;
    color: aqua;
}
