.nav{
    background-color: gray;
    padding: 5px;
}
.nav-ul{
    background-color: antiquewhite;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    
}
.nav-li{
    padding-left: 5px;
    padding-right: 5px;
    font-size: large;
    font-weight: bolder;
    color: rgb(18, 177, 250);
    display: inline-block;
    margin-left: 3px;
    background-color: darkgoldenrod;
    border: 2px solid black;
    border-radius: 5px;

}
